<!DOCTYPE html>
<html>
  <head>
    <title>Backend Practice</title>
  </head>
  <body>
    <h1>Elhadj Careers</h1>
    <img src="http://127.0.0.1:5000/static/cybr.jpg" width="'300" height="350" alt="Random image">
    <h2>About me</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, sunt quidem in odio qui cumque consectetur incidunt harum repellendus necessitatibus, saepe, laboriosam magni et. Ipsa sit magnam tenetur eum. Accusantium.</p>
    <h2>Interested careers</h2>
    <p>PUT CAREERS HERE</p>
    <button>Contact me</button>
  </body>

</html>